
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100%;
}


html, body {
	overflow-x: hidden;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
}

html,
body,
.nav .main .header,
.nav__list {
    margin: 0;
    padding: 0;
}