.main {
    background: white;
    height: 100%;
    position: relative;
    top: 0;
    z-index: 20;
    background: white;
    height: 100vh;
    position: relative;
    // top: 80px;
    z-index: 40;
    width: 100%;
    padding: 150px 60px;

    // &--open {
    //     overflow-y: hidden;
    //     -webkit-overflow-y: hidden;
    // }
}