.nav {
    
    background: #C5CAE9;
    position: fixed;
    z-index: 10;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100vh;
    bottom: 0;
    visibility: visible;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.46), 0 2px 10px 0 rgba(0, 0, 0, 0.42);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    @include translateX(205px);
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 80px;
    padding: .5em 1.5em 6.875em 1.5em;
    margin-top: 0;
    

    // WHEN NAV IS OPEN
    &--open {
        
        @include translateX(0);
    }
    

    // NAV TRIGGER
    &__trigger {
        
        background-color: #C5CAE9;
        width: 40px;
        height: 40px;
        position: fixed;
        top: 20px;
        right: 25px;
        border-radius: 50%;
    }


    // NAV ICON
    &__icon {
        
        width: 20px;
        background-color: #3A3C48;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translateX(-50%);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: #3A3C48;
            position: absolute;
            top: -6px;
            right: 0;
            -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            background-color: #3A3C48;
            position: absolute;
            top: 6px;
            right: 0;
            -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
        }
    }


    // NAV LIST
    &__list {
        
        text-align: right;
        padding-bottom: 30px;
        overflow-y: initial;
        height: initial;
    }
    

    // NAV LIST ITEM
    &__list-item {
        
        margin: 10px 0;
    }


    // NAV LINK
    &__link {
        
        font-weight: bold;
        padding: 10px 6px 10px 0;
        display: block;
        color: #3A3C48;
    }
}




// .nav__list-item {
//     margin: 10px 0;
// }

// .nav__link {
//     padding-right: 6px;
// }

// .nav__list {
//     height: 100%;
// }

// .nav__list-item:last-of-type {
//     padding-bottom: 0;
//     margin-bottom: 0;
// }


/* ********   END OF WORKS    ******** */

// .nav__icon {
//     width: 20px;
//     height: 2px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     -webkit-transform: translateX(-50%);
//     -ms-transform: translateX(-50%);
//     transform: translateX(-50%);
//     -webkit-transition: all .2s ease-in-out;
//     transition: all .2s ease-in-out;
// }

// .nav__icon::before {
//     content: '';
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: -6px;
//     right: 0;
//     -webkit-transition: all .5s ease-in-out;
//     transition: all .5s ease-in-out;
// }

// .nav__icon::after {
//     content: '';
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 6px;
//     right: 0;
//     -webkit-transition: all .5s ease-in-out;
//     transition: all .5s ease-in-out;
// }

// .navigation-is-open .nav__icon {
//     background-color: transparent;
//     -webkit-transition: all .5s ease-in-out;
//     transition: all .5s ease-in-out;
//     /*transform: rotate(-135deg);*/
// }

// .navigation-is-open .nav__icon::before {
//     height: 3px;
//     -webkit-transform: rotate(-135deg);
//     -ms-transform: rotate(-135deg);
//     transform: rotate(-135deg);
//     /*    transform: rotate(45deg);*/
//     /*transform: rotate(-45deg);*/
//     /*  transform-origin: right top;*/
    
//     top: 0;
// }

// .navigation-is-open .nav__icon::after {
//     height: 3px;
//     -webkit-transform: rotate(135deg);
//     -ms-transform: rotate(135deg);
//     transform: rotate(135deg);
//     /*transform: rotate(-45deg);*/
//     /* transform-origin: right bottom;*/
    
//     top: 0;
// }

// .navigation-is-open .nav__trigger {
//     background-color: white;
//     /*  transform: scale(.9);*/
// }

// .nav__trigger {
//     transition: all .3s ease-in-out;
// }

// .nav__holder {
//     background-color: #4D4F5A;
// }
/* TESTING SCROLL AND HEIGHTS */


// .nav__list {
//     height: initial;
// }

// html.navigation-is-open {
//     overflow: hidden;
//     -webkit-overflow: hidden;
// }

// body.navigation-is-open {
//     overflow: hidden;
//     -webkit-overflow: hidden;
//     position: fixed;
//     width: 100%
// }


// .nav {
//     padding: .5em 1.5em 6.875em 1.5em;
// }



@media (min-width: 1px) and (max-width: 600px) and (orientation: landscape) {
    .nav {
        padding: 1.5em 1.5em 9.875em 1.5em;
    }
}