
/* OPEN MENU */

.navigation-is-open {
    

    // NAV ICON
    & .nav__icon {
    
        background-color: transparent;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;

        &::before {
            height: 3px;
            @include rotate(-135);
            top: 0;
        }
        
        &::after {
            height: 3px;
            @include rotate(135); 
            top: 0;
        }

    }
    

    // NAV TRIGGER
    & .nav__trigger {

        background-color: white;
    }
}




// html.navigation-is-open {
//     overflow: hidden;
//     -webkit-overflow: hidden;
// }

// body.navigation-is-open {
//     overflow: hidden;
//     -webkit-overflow: hidden;
//     position: fixed;
//     width: 100%
// }